body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.brand {
  color: gray;
}
.switcher {
  color: rgb(22, 22, 65);
}
.spacer {
  flex: 1;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: grey;
  color: rgb(22, 22, 22);
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 60px;
  width: 100%;
  background-color: gray;
  color: rgb(238, 223, 223);
}
.hero {
  padding-top: 184px;
}

.hero h1 {
  font-size: 45px;
  line-height: 58px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  line-height: 36px;
}
.switcher select {
  width: 99px;
  height: 30px;
}
.mt {
  margin-top: 20px;
  font-size: 35px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

button {
  color: rgb(15, 15, 71);
  font-size: 20px;
  padding: 5px;
  border: 2px solid rgb(15, 15, 54);
}
.hero1{
   padding-top: 80px;
}
.title{
  font-size: 40px;
  color:rgb(22, 22, 65) ;
}
.syntex{
  color: rgb(122, 20, 20);
  font-size: 30px;
  border: 2px solid rgb(122, 20, 20);
  text-align: center;
}
img{
  width: 100%
}
.deep{
  font-size: 25px;
}